{% extends "base.html" %}
{% load i18n %}
{% block actions %}

        <a href="{% url 'evidence:download' object.uuid %}" class="btn btn-green-admin">
          <i class="bi bi-file-earmark-arrow-down"></i>
          {% trans "Download File" %}
        </a>

{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12 mb-4">
    <div class="card d-flex flex-wrap">
      <div class="card-header">
        <strong class="card-title">Evidence
          <span class="text-muted" id="uuid">{{ object.uuid }}</span>
          <button class="btn btn-sm btn-outline-secondary ms-1" onclick="copyToClipboard()">
          <i class="bi bi-clipboard"></i>
        </button>
        </strong>
      </div>
      <div class="card-body">

                <!-- Erase server checkbox -->
                {% load django_bootstrap5 %}
                <form role="form" method="post" class="p-2 rounded d-flex d-inline-flex align-items-center gap-3" style="max-width: 400px; {% if form2.erase_server.value %}background-color: #f5faf7!important;{% endif %}">
                  {% csrf_token %}

                  {% if form2.errors %}
                    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show w-100" role="alert">
                      <i class="mdi mdi-alert-circle me-2"></i>
                      <div>
                        {% for field, error in form2.errors.items %}
                          <strong>{{ field|title }}:</strong> {{ error }}<br />
                        {% endfor %}
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endif %}

                   <!-- submit button -->
                  <button class="btn btn-sm btn btn-outline-success" d-flex align-items-end gap-1" type="submit" name="submit_form2">
                    <i class="bi bi-floppy2-fill"></i> {% translate 'Save' %}
                  </button>
                  <!-- erase server switch -->
                  <div class="form-check form-switch m-0">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="{{ form2.erase_server.id_for_label }}"
                      name="{{ form2.erase_server.name }}"
                      onchange="toggleSaveButton(this)"
                      {% if form2.erase_server.value %}
                        checked
                      {% endif %}>
                    <label class="form-check-label ps-1" for="{{ form2.erase_server.id_for_label }}">
                      {% if form2.erase_server.value %}
                        <i class="pe-1 bi bi-eraser"></i>
                        {% translate "It is an erase server" %}
                      {% else %}
                        <i class="pe-1 bi bi-x-circle"></i>
                        {% translate "It is not an erase server" %}
                      {% endif %}
                    </label>
                  </div>

                </form>

            </div>
        </div>
    </div>
</div>


<div class="row">
  <div class="col">
    <ul class="nav nav-tabs nav-tabs-bordered">
      <li class="nav-items">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#device">{% trans "Device" %}</button>
      </li>
      <li class="nav-items">
	      <a href="#tag" class="nav-link" data-bs-toggle="tab" data-bs-target="#tag">{% trans "Tag" %}</a>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content pt-2">

  <div class="tab-pane fade show active" id="device">
    <h5 class="card-title"></h5>
    <div class="list-group col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" data-sortable="">
              {% trans "Algorithm" %}
            </th>
            <th scope="col" data-sortable="">
              {% trans "Device ID" %}
            </th>
            <th scope="col" data-sortable="">
              {% trans "Date" %}
            </th>
          </tr>
        </thead>
        {% for snap in object.properties %}
        <tbody>
          <tr>
            <td>
              {{ snap.key }}
            </td>
            <td>
              <small class="text-muted">
                <a href="{% url 'device:details' snap.value %}">{{  snap.value|truncatechars:7|upper }}</a>
            {{ dev.shortid }}
              </small>
            </td>
            <td>
              <small class="text-muted">
		{{ snap.created }}
              </small>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="tab-pane fade" id="tag">
    {% load django_bootstrap5 %}
    <div class="list-group col-6">
      <form role="form" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger alert-icon alert-icon-border alert-dismissible" role="alert">
          <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
          <div class="message">
            {% for field, error in form.errors.items %}
              {{ error }}<br />
            {% endfor %}
            <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        {% endif %}
	{% bootstrap_form form %}
        <div class="container">
	  <div class="row">
	    <div class="col">
              <a class="btn btn-grey" href="">{% translate "Cancel" %}</a>
              <input class="btn btn-green-admin" type="submit" name="submit_form1" value="{% translate 'Save' %}" />
	    </div>
	    {% if form.tag.value %}
	    <div class="col-1">
	      <a class="btn btn-yellow" href="{% url 'evidence:delete_tag' form.pk %}">{% translate "Delete" %}</a>
	    </div>
	    {% endif %}
	  </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block extrascript %}
<script>
  function toggleSaveButton(checkbox) {
        const saveButton = document.getElementById('saveButton');
        // Enable the button if the checkbox state changes
        saveButton.disabled = false;
    }
  function copyToClipboard() {
        const uuid = document.getElementById('uuid').innerText;
        navigator.clipboard.writeText(uuid).then(() => {
            alert('UUID copied to clipboard!');
        }).catch(() => {
            alert('Failed to copy UUID.');
        });
    }
  document.addEventListener("DOMContentLoaded", function() {
    // Obtener el hash de la URL (ejemplo: #components)
    const hash = window.location.hash;

    // Verificar si hay un hash en la URL
    if (hash) {
      // Buscar el botón o enlace que corresponde al hash y activarlo
      const tabTrigger = document.querySelector(`[data-bs-target="${hash}"]`);

      if (tabTrigger) {
        // Crear una instancia de tab de Bootstrap para activar el tab
        const tab = new bootstrap.Tab(tabTrigger);
        tab.show();
      }
    }
  });
</script>
{% endblock %}
