{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>{{ object.id }}</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs nav-tabs-bordered">
      <li class="nav-items">
        <a href="{% url 'evidence:details' object.uuid %}" class="nav-link">{% trans "Devices" %}</a>
      </li>
      <li class="nav-items">
        <a href="{% url 'evidence:details' object.uuid %}#tag" class="nav-link">{% trans "Tag" %}</a>
      </li>
      <li class="nav-items">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#erase_server">{% trans "Erase Server" %}</button>
      </li>
      <li class="nav-items">
        <a href="{% url 'evidence:download' object.uuid %}" class="nav-link">{% trans "Download File" %}</a>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content pt-2">

  <div class="tab-pane fade show active" id="erase_server">

    {% load django_bootstrap5 %}
    <div class="list-group col-6">
      <form role="form" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger alert-icon alert-icon-border alert-dismissible" role="alert">
          <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
          <div class="message">
            {% for field, error in form.errors.items %}
              {{ error }}<br />
            {% endfor %}
            <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        {% endif %}
	{% bootstrap_form form %}
        <div class="container">
	  <div class="row">
	    <div class="col">
              <a class="btn btn-grey" href="">{% translate "Cancel" %}</a>
              <input class="btn btn-green-admin" type="submit" name="submit" value="{% translate 'Save' %}" />
	    </div>
	  </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
