{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>{{ subtitle }}</h3>
  </div>
</div>

<!-- override invalid-feedback class -->
<style>
  .invalid-feedback {
    color: #670000; 
    font-size: 1rem; 
  }
  </style>

{% load django_bootstrap5 %}
<form role="form" method="post" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_form form alert_error_type="none" error_css_class="alert alert-danger alert-icon alert-icon-border" %}
      <div class="form-actions-no-box">
  <a class="btn btn-grey"       href="{% url 'dashboard:unassigned_devices' %}">{% translate "Cancel" %}</a>
  <input class="btn btn-green-admin" type="submit" name="submit" value="{% translate 'Save' %}" />
</div>

</form>
{% endblock %}
