
{% load i18n %}
<div class="tab-pane fade" id="documents">
      <div class="btn-group mt-1 mb-3">
        <a href="{% url 'device:add_document' object.pk %}" class="btn btn-primary">
            <i class="bi bi-plus">
            </i>
          {% trans 'Add new document' %}
        </a>
      </div>

      <h5 class="card-title">{% trans 'Documents' %}
      </h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">
              {% trans 'Key' %}
            </th>
            <th scope="col">
              {% trans 'Value' %}
            </th>
            <th scope="col" data-type="date" data-format="YYYY-MM-DD HH:mm">
              {% trans 'Created on' %}
            </th>
            <th>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for a in object.get_user_documents %}
            <tr>
                <td>{{ a.key }}
                </td>
                <td>{{ a.value }}
                </td>
                <td>{{ a.created }}
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
