
{% load i18n %}
{% load django_tables2 %}

    <div class="tab-pane fade" id="evidences">
      <h5 class="card-title">{% trans 'List of evidences' %}</h5>
      <div class="list-group col">
	  <table class="table">
           <thead>
             <tr>
               <th scope="col">UUID</th>
               <th scope="col">{% trans "DID Document" %}</th>
               <th scope="col">{% trans "Date" %}</th>
             </tr>
           </thead>
           <tbody>
	     {% for snap in object.evidences %}
             <tr>
               <td>
                  <a href="{% url 'evidence:details' snap.uuid %}">{{ snap.uuid }}</a>
	       </td>
               <td>
		 {% if snap.did_document %}
		 <a href="{{ snap.did_document }}" target="_blank">DID</a>
		 {% endif %}
	       </td>
               <td>
                 <small class="text-muted">{{ snap.created }}</small>
	       </td>
             </tr>
	     {% endfor %}
           </tbody>
         </table>
      </div>
    </div>

    {% if table.rows %}
        <div class="card-body p-0">
            <div class="table-responsive">
                {% render_table table %}
            </div>
        </div>
    {% else %}
    <div class="card-footer text-center text-muted py-3 m-0">
        <i class="bi bi-database-exclamation"></i>
        {% trans "No evidences found for this device" %}
    </div>
    {% endif %}


</div>


