services:
  devicehub-django:
    restart: ${DOCKER_RESTART_POLICY:-unless-stopped}
    init: true
    image: ghcr.io/ereuse/devicehub-django:${DEVICEHUB_DOCKER_TAG:-stable}
    build:
      context: .
      dockerfile: docker/devicehub-django.Dockerfile
    env_file:
      - .env
    # TODO manage volumes dev vs prod
    volumes:
      - ${DEVICEHUB_VOLUME:-.}:/opt/devicehub-django
      - ./.env:/opt/devicehub-django/.env:ro
      - ${DOCKER_DEVICEHUB_DATA_DIR}/devicehub/static:${DEVICEHUB_STATIC_ROOT:-/static/}
      - ${DOCKER_DEVICEHUB_DATA_DIR}/devicehub/media:${DEVICEHUB_MEDIA_ROOT:-/media/}
        # db-files: evidences, index xapian files and sqlite
      - ${DOCKER_DEVICEHUB_DATA_DIR}/devicehub/db-files:${DEVICEHUB_EVIDENCES_DIR:-/evidences/}
      - ${DOCKER_DEVICEHUB_DATA_DIR}/devicehub/backups:${DEVICEHUB_BACKUPS_DIR:-/backups/}
    # ports:
    #   - ${DEVICEHUB_PORT:-8000}:${DEVICEHUB_PORT:-8000}
    deploy:
      resources:
        limits:
          cpus: "${DOCKER_DEVICEHUB_CPU_LIMIT:-0.000}"
          memory: "${DOCKER_DEVICEHUB_MEM_LIMIT:-1G}"
  # match debian/django container so dbbackup works
  devicehub-postgres:
    profiles: [devicehub-postgres]
    restart: ${DOCKER_RESTART_POLICY:-unless-stopped}
    image: postgres:15
    environment:
      - POSTGRES_DB=${DEVICEHUB_POSTGRES_DB}
      - POSTGRES_USER=${DEVICEHUB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEVICEHUB_POSTGRES_PASSWORD_SECRET}
    volumes:
      - ${DOCKER_DEVICEHUB_DATA_DIR}/devicehub-postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DEVICEHUB_POSTGRES_USER} -d ${DEVICEHUB_POSTGRES_DB}"]
      start_period: 1s
      interval: 1s
      timeout: 10s
      retries: 10
    deploy:
      resources:
        limits:
          cpus: "${DOCKER_DEVICEHUB_POSTGRES_CPU_LIMIT:-0.000}"
          memory: "${DOCKER_DEVICEHUB_POSTGRES_MEM_LIMIT:-1G}"

  # TODO add database service for idhub, meanwhile sqlite
  idhub:
    # https://docs.docker.com/compose/how-tos/profiles/
    profiles: [idhub]
    restart: ${DOCKER_RESTART_POLICY:-unless-stopped}
    init: true
    image: ghcr.io/ereuse/idhub:${IDHUB_DOCKER_TAG:-stable}
    environment:
      - DOMAIN=${IDHUB_DOMAIN:-localhost}
      - ALLOWED_HOSTS=${IDHUB_ALLOWED_HOSTS:-$IDHUB_DOMAIN}
      - DEBUG=${IDHUB_DEBUG:-true}
      - DEMO=${IDHUB_DEMO:-true}
      - DEMO_AUTODECRYPT=${IDHUB_DEMO_AUTODECRYPT:-false}
      - DEMO_CREATE_SCHEMAS=${IDHUB_DEMO_CREATE_SCHEMAS:-true}
      - REMOVE_DATA=${IDHUB_REMOVE_DATA:-false}
      - DB_TYPE=${IDHUB_DB_TYPE:-postgres}
      - CREATE_TEST_USERS=${IDHUB_CREATE_TEST_USERS:-true}
      - INIT_ADMIN_EMAIL=${IDHUB_INIT_ADMIN_EMAIL}
      - INIT_ADMIN_PASSWORD=${IDHUB_INIT_ADMIN_PASSWORD}
      - INIT_ORG=${IDHUB_INIT_ORG}
      - POLICY_PRIVACY=${IDHUB_POLICY_PRIVACY}
      - POLICY_LEGAL=${IDHUB_POLICY_LEGAL}
      - POLICY_COOKIES=${IDHUB_POLICY_COOKIES}
      - ENABLE_EMAIL=${IDHUB_ENABLE_EMAIL:-true}
      - ENABLE_2FACTOR_AUTH=${IDHUB_ENABLE_2FACTOR_AUTH:-true}
      - ENABLE_DOMAIN_CHECKER=${IDHUB_ENABLE_DOMAIN_CHECKER:-true}
      - DEMO_PREDEFINED_TOKEN=${DEMO_IDHUB_PREDEFINED_TOKEN:-}
      - SECRET_KEY=${IDHUB_SECRET_KEY_SECRET}
      - MEDIA_URL=${IDHUB_MEDIA_URL:-/media/}
      - MEDIA_ROOT=${IDHUB_MEDIA_ROOT:-/media/}
      - STATIC_URL=${IDHUB_STATIC_URL:-/static/}
      - STATIC_ROOT=${IDHUB_STATIC_ROOT:-/static/}
      - PORT=${IDHUB_PORT:-9001}
      - DEFAULT_FROM_EMAIL=${IDHUB_DEFAULT_FROM_EMAIL}
      - EMAIL_HOST=${IDHUB_EMAIL_HOST}
      - EMAIL_HOST_USER=${IDHUB_EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${IDHUB_EMAIL_HOST_PASSWORD}
      - EMAIL_PORT=${IDHUB_EMAIL_PORT}
      - EMAIL_USE_TLS=${IDHUB_EMAIL_USE_TLS}
      - EMAIL_BACKEND=${IDHUB_EMAIL_BACKEND}
      - SUPPORTED_CREDENTIALS=${IDHUB_SUPPORTED_CREDENTIALS:-}
      - SYNC_ORG_DEV=${IDHUB_SYNC_ORG_DEV}
      - DB_PORT=${IDHUB_POSTGRES_PORT:-5432}
      - DB_HOST=${IDHUB_POSTGRES_HOST:-idhub-postgres}
      - DB_NAME=${IDHUB_POSTGRES_DB}
      - DB_USER=${IDHUB_POSTGRES_USER}
      - DB_PASSWORD=${IDHUB_POSTGRES_PASSWORD}
      - TIME_ZONE=${IDHUB_TIME_ZONE}
      - DPP=${IDHUB_DPP:-false}
    ports:
      - ${IDHUB_PORT:-9001}:${IDHUB_PORT:-9001}
    # TODO review volumes
    volumes:
      - ${IDHUB_VOLUME:-./idhub}:/opt/idhub
      - ${IDHUB_ROOT_DIR}/${IDHUB_DOCKER_DIR}/${IDHUB_DOMAIN}/idhub-postgres:/idhub-postgres
      - ${DOCKER_IDHUB_STATIC_ROOT}:${IDHUB_STATIC_ROOT:-/static/}
      - ${DOCKER_IDHUB_MEDIA_ROOT}:${IDHUB_MEDIA_ROOT:-/media/}
    deploy:
      resources:
        limits:
          cpus: "${DOCKER_IDHUB_CPU_LIMIT:-0.000}"
          memory: "${DOCKER_IDHUB_MEM_LIMIT:-1G}"

  idhub-postgres:
    profiles: [idhub-postgres]
    image: postgres:17
    environment:
      - POSTGRES_DB=${IDHUB_POSTGRES_DB}
      - POSTGRES_USER=${IDHUB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${IDHUB_POSTGRES_PASSWORD}
    volumes:
      - ${IDHUB_ROOT_DIR}/${IDHUB_DOCKER_DIR}/${IDHUB_DOMAIN}/idhub-postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${IDHUB_POSTGRES_USER} -d ${IDHUB_POSTGRES_DB}"]
      start_period: 1s
      interval: 1s
      timeout: 10s
      retries: 10
    deploy:
      resources:
        limits:
          cpus: "${DOCKER_IDHUB_POSTGRES_CPU_LIMIT:-0.000}"
          memory: "${DOCKER_IDHUB_POSTGRES_MEM_LIMIT:-1G}"

  ereuse-rproxy:
    restart: ${DOCKER_RESTART_POLICY:-unless-stopped}
    profiles: [rproxy]
    image: ghcr.io/ereuse/ereuse-rproxy:${RPROXY_DOCKER_TAG:-stable}
    build:
      context: .
      dockerfile: ./docker/nginx.Dockerfile
    environment:
      - ENABLE_LETSENCRYPT=${RPROXY_ENABLE_LETSENCRYPT}
      # sorry the confusion, for some reason we decided that DEVICEHUB_HOST is equivalent to IDHUB_DOMAIN
      #   internal ref https://farga.pangea.org/ereuse/devicehub-django/pulls/58
      - DEVICEHUB_HOST=${DEVICEHUB_HOST}
      # upstream refers how to connect to this service
      - DEVICEHUB_UPSTREAM=devicehub-django:${DEVICEHUB_PORT}
      - IDHUB_ENABLED=${IDHUB_ENABLED}
      - IDHUB_DOMAIN=${IDHUB_DOMAIN}
      - IDHUB_UPSTREAM=idhub:${IDHUB_PORT}
      - RPROXY_TEMPLATE=${RPROXY_TEMPLATE}
    ports:
      - "8000:80"
      #- "443:443"
    volumes:
      - type: bind
        source: docker/nginx/app.template
        target: /etc/nginx/conf.d/app.template
      - type: bind
        source: docker/nginx/app.http.template
        target: /etc/nginx/conf.d/app.http.template
      # Static and Media files
      - ${DOCKER_DEVICEHUB_DATA_DIR}/devicehub/static:/var/www/static:ro
      - ${DOCKER_DEVICEHUB_DATA_DIR}/devicehub/media:/var/www/media:ro
      - certbot-www:/var/www/certbot
      - ${DOCKER_DEVICEHUB_DATA_DIR}/certbot/conf:/etc/letsencrypt
    deploy:
      resources:
        limits:
          cpus: "${DOCKER_RPROXY_CPU_LIMIT:-0.000}"
          memory: "${DOCKER_RPROXY_MEM_LIMIT:-1G}"

  certbot:
    restart: ${DOCKER_RESTART_POLICY:-unless-stopped}
    profiles: [letsencrypt]
    container_name: certbot
    image: certbot/certbot
    volumes:
      - ${DOCKER_DEVICEHUB_DATA_DIR}/certbot/conf:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    entrypoint: /bin/sh -c "trap exit TERM; while true; do certbot renew --webroot -w /var/www/certbot; sleep 12h & wait $${!}; done;"
    deploy:
      resources:
        limits:
          cpus: "${DOCKER_CERTBOT_CPU_LIMIT:-0.000}"
          memory: "${DOCKER_CERTBOT_MEM_LIMIT:-1G}"

volumes:
  DEVICEHUB_DATA:
  IDHUB_DATA:
  certbot-www:
