{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!-- Top bar buttons -->
<div class="row">
  <div class="col">
    <h3>{{ object.shortid }}</h3>
  </div>
  <div class="col text-end">
    <div class="btn-group" role="group" aria-label="Actions">

      <!-- change state button -->
      {% if state_definitions %}
      <div class="dropdown ms-2">
        <a class="btn btn-green-admin dropdown-toggle" id="addStateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          {% trans "Change state" %}
          {% if device_states %}
            ({{ device_states.0.state }})
          {% else %}
            ( {% trans "None" %} )
            {% endif %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="addStateDropdown" style="width: 100%;">
          {% for state in state_definitions %}
            <li style="width: 100%;">
              <form id="changeStateForm{{ state.id }}" method="post" action="{% url 'action:change_state' %}">
                {% csrf_token %}
                <input type="hidden" name="previous_state" value="{{ device_states.0.state|default:"nil" }}">
                <input type="hidden" name="snapshot_uuid" value="{{ object.last_uuid }}">
                <input type="hidden" name="new_state" value="{{ state.state }}">

                <a class="dropdown-item d-flex justify-content-between align-items-center" href="#" onclick="document.getElementById('changeStateForm{{ state.id }}').submit(); return false;">
                  <span class="font-monospace">{{ state.state }}</span>
                  <span class="badge bg-secondary rounded-pill-sm">{{ forloop.counter }}</span>
                </a>
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
        <button class="btn btn-green-admin" type="button" disabled>
          <i class="bi bi-plus"></i> {% trans "Change state" %}
          {% if device_states %}
            ({{ device_states.0.state }})
          {% endif %}
        </button>
      {% endif %}
      <!-- Add note button -->
      <button class="btn btn-yellow ms-2" type="button" data-bs-toggle="modal" data-bs-target="#addNoteModal">
        <i class="bi bi-sticky"></i> {% trans "Add a note" %}
      </button>

    </div>
  </div>
</div>


  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs nav-tabs-bordered">
        <li class="nav-item">
          <a href="#details" class="nav-link active" data-bs-toggle="tab" data-bs-target="#details">{% trans 'General details' %}</a>
        </li>
        <li class="nav-item">
          <a href="#user_properties" class="nav-link" data-bs-toggle="tab" data-bs-target="#user_properties">{% trans 'Properties' %}</a>
        </li>
        <li class="nav-item">
          <a href="#lots" class="nav-link" data-bs-toggle="tab" data-bs-target="#lots">{% trans 'Lots' %}</a>
        </li>
        <li class="nav-item">
          <a href="#components" class="nav-link" data-bs-toggle="tab" data-bs-target="#components">{% trans 'Components' %}</a>
        </li>
        <li class="nav-item">
          <a href="#evidences" class="nav-link" data-bs-toggle="tab" data-bs-target="#evidences">{% trans 'Evidences' %}</a>
        </li>
	{% if dpps %}
        <li class="nav-item">
          <a href="#dpps" class="nav-link" data-bs-toggle="tab" data-bs-target="#dpps">{% trans 'Dpps' %}</a>
        </li>
	{% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'device:device_web' object.id %}" target="_blank">Web</a>
        </li>
        <li class="nav-item">
          <a href="#enviromental_impact" class="nav-link" data-bs-toggle="tab" data-bs-target="#enviromental_impact">{% trans 'Enviromental impact' %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content pt-4">

  {% include 'tabs/general_details.html' %}

  {% include 'tabs/log.html' %}

  {% include 'tabs/user_properties.html' %}

  {% include 'tabs/lots.html' %}

  {% include 'tabs/components.html' %}

  {% include 'tabs/evidences.html' %}

  {% include 'tabs/dpps.html' %}

  <!-- Add a note popup -->
  <div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="addNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNoteModalLabel">{% trans "Add a Note" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
        </div>
      {% endif %}

      <div class="row mb-1">
        <div class="col-lg-3 col-md-4 label">Type</div>
        <div class="col-lg-9 col-md-8">{{ object.type }}</div>
      </div>

      {% if object.is_websnapshot and object.last_user_evidence %}
        {% for k, v in object.last_user_evidence %}
          <div class="row mb-1">
            <div class="col-lg-3 col-md-4 label">{{ k }}</div>
            <div class="col-lg-9 col-md-8">{{ v|default:'' }}</div>
          </div>
        {% endfor %}
      {% else %}
        <div class="row mb-1">
          <div class="col-lg-3 col-md-4 label">
            {% trans 'Manufacturer' %}
          </div>
          <div class="col-lg-9 col-md-8">{{ object.manufacturer|default:'' }}</div>
        </div>

        <div class="row mb-1">
          <div class="col-lg-3 col-md-4 label">
            {% trans 'Model' %}
          </div>
          <div class="col-lg-9 col-md-8">{{ object.model|default:'' }}</div>
        </div>

        <div class="row mb-1">
          <div class="col-lg-3 col-md-4 label">
            {% trans 'Version' %}
          </div>
          <div class="col-lg-9 col-md-8">{{ object.version|default:'' }}</div>
        </div>

        <div class="row mb-1">
          <div class="col-lg-3 col-md-4 label">
            {% trans 'Serial Number' %}
          </div>
          <div class="col-lg-9 col-md-8">{{ object.serial_number|default:'' }}</div>
        </div>
      {% endif %}

      <div class="row mb-3">
        <div class="col-lg-3 col-md-4 label">
          {% trans 'Identifiers' %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="enviromental_impact">
      <div class="container-fluid py-3">
        <div class="d-flex justify-content-end mb-3">
          <a href="{% url 'device:export_environmental_impact_pdf' object.pk %}" class="btn btn-success">
            <i class="bi bi-file-earmark-pdf"></i>
              {% trans 'Export to PDF' %}
            </a>
        </div>
        {% comment %} <h5 class="card-title text-success">Environmental Impact Assessment</h5> {% endcomment %}

        <div class="row g-4 mb-4">
          <div class="col-md-4">
            <div class="card h-100 border-success">
              <div class="card-body text-center">
                <div class="mb-3">
                  <i class="bi bi-arrow-down-circle text-success" style="font-size: 2rem;"></i>
                </div>
                <h5 class="card-title text-success">Carbon Reduction</h5>
                <h2 class="mb-2">{{ impact.carbon_saved }}</h2>
                <p class="card-text text-muted">kg CO₂e saved</p>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-md-4">
            <div class="card h-100 border-success">
              <div class="card-body text-center">
                <div class="mb-3">
                  <i class="bi bi-recycle text-success" style="font-size: 2rem;"></i>
                </div>
                <h5 class="card-title text-success">Whatever other metric we might wanna show</h5>
                <h2 class="mb-2">85%</h2>
                <p class="card-text text-muted">whatever</p>
              </div>
            </div>
          </div> {% endcomment %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Impact Details</h5>

            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row" class="bg-light" style="width: 30%;">Manufacturing Impact Avoided</th>
                    <td>
                      <span class="text-success">{{ impact.carbon_saved }}</span> kg CO₂e
                      <br />
                      <small class="text-muted">Based on average laptop manufacturing emissions</small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mt-3">
              <h6>Calculation Method</h6>
              <small class="text-muted">Based on industry standards X Y and Z</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if dpps %}
    <div class="tab-pane fade" id="dpps">
      <h5 class="card-title">{% trans 'List of dpps' %}</h5>
      <div class="list-group col">
        {% for d in dpps %}
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <small class="text-muted">{{ d.timestamp }}</small>
	      <span>{{ d.type }}</span>
            </div>
            <p class="mb-1">
              <a href="{% url 'did:device_web' d.signature %}">{{ d.signature }}</a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

{% endblock %}

{% block extrascript %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Obtener el hash de la URL (ejemplo: #components)
      const hash = window.location.hash

      // Verificar si hay un hash en la URL
      if (hash) {
        // Buscar el botón o enlace que corresponde al hash y activarlo
        const tabTrigger = document.querySelector(`[data-bs-target="${hash}"]`)

        if (tabTrigger) {
          // Crear una instancia de tab de Bootstrap para activar el tab
          const tab = new bootstrap.Tab(tabTrigger)
          tab.show()
        }
      }
    })
  </script>
{% endblock %}
