{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
  <div class="col">
    <h3>{{ subtitle }}</h3>
  </div>
  <div class="col text-center">
    {{ user.email }}
  </div>
</div>

<div class="row">
  <div class="col">
    <a class="nav-link fw-bold" href="{% url 'api:tokens' %}">
      {% translate 'Admin your Tokens' %}
    </a>
  </div>
  <div class="col">
    <a class="nav-link fw-bold" href="{% url 'user:settings' %}">
      {% translate 'Download a settings file' %}
    </a>
  </div>
</div>

{% endblock %}
