{% extends "base.html" %}
{% load i18n get_language_code %}

{% block content %}

  <div class="col d-flex align-items-center mb-4">
    <div class="d-flex align-items-center">
      <i class="bi bi-person-circle fs-2 me-3"></i>
      <h3 class="mb-0">{{ user.email }}</h3>
      {% if user.is_admin %}
        <span class="ms-3 badge rounded-pill bg-info">{% trans "admin" %}</span>
      {% else %}
        <span class="ms-3 badge rounded-pill bg-secondary">{% trans "user" %}</span>
      {% endif %}
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title mb-3">
            <i class="bi bi-key me-2"></i> {% translate 'Token Management' %}
          </h5>
          <p class="card-text flex-grow-1">{% translate 'Manage your personal tokens for using Devicehub.' %}</p>
          <div class="text-end">
            <a href="{% url 'api:tokens' %}" class="btn btn-outline-dark btn-sm d-inline-flex align-items-center">
              <span class="me-2">{% translate 'Go' %}</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title mb-3">
            <i class="bi bi-gear me-2"></i> {% translate 'Settings File' %}
          </h5>
          <p class="card-text flex-grow-1">{% translate 'Download a settings file for your Workbench.' %}</p>
          <div class="text-end">
            <a href="{% url 'user:settings' %}" class="btn btn-outline-dark btn-sm d-inline-flex align-items-center">
              <span class="me-2">{% translate 'Go' %}</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title mb-3">
            <i class="bi bi-translate me-2"></i> {% translate 'Language' %}
          </h5>
          <p class="card-text flex-grow-1">{% translate 'Click below to select your preferred language.' %}</p>
          <div class="text-end">
            {% include "language_picker.html" %}
          </div>
        </div>
      </div>
    </div>

  <div class="col-md-6">
    <div class="card h-100 shadow-sm border-0">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title mb-3">
          <i class="bi bi-person-check me-2"></i> {% translate 'Customize Overview' %}
        </h5>
        <p class="card-text flex-grow-1">{% translate 'Select which lots and states to display on your personal inventory overview.' %}</p>
        <div class="text-end">
          <a href="{% url 'user:customize_dashboard' %}" class="btn btn-outline-dark btn-sm d-inline-flex align-items-center">
            <span class="me-2">{% translate 'Go' %}</span>
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  </div>

{% endblock %}
