<p style="margin:0 0 4px 0;font-size:11px;color:#999999;line-height:1.5;">
  AV&Iacute;S LEGAL - Aquesta informaci&oacute; &eacute;s privada i confidencial, i est&agrave; dirigida &uacute;nicament al seu destinatari.
  Si vost&egrave; no &eacute;s el destinatari original d'aquest missatge i, malgrat tot ha pogut accedir a l'esmentada informaci&oacute;,
  si us plau elimini aquest missatge.
</p>
<p style="margin:0 0 4px 0;font-size:11px;color:#999999;line-height:1.5;">
  AVISO LEGAL - Esta informaci&oacute;n es privada y confidencial, y est&aacute; dirigida &uacute;nicamente a su destinatario.
  Si usted no es el destinatario original de este mensaje y, a pesar de ello ha podido acceder a dicha
  informaci&oacute;n, por favor elimine este mensaje.
</p>
<p style="margin:0;font-size:11px;color:#999999;line-height:1.5;">
  LEGAL NOTICE - This information is private and confidential, and intended for the recipient only.
  If you are not the intended recipient of this message, and you have been able to access its content,
  please delete this message.
</p>
