body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #444;
  font-weight: 700;
}

.navbar-sub-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.bg-green {
  background-color: #9cc666;
}
.admin.bg-green {
  background-color: #56beac;
}

.bg-grey {
  background-color: #545f71;
  height: 3.5rem;
  margin-bottom: 4rem;
}

.logout {
  color: #fff;
  position: relative;
  font-size: 1.5em;
  margin-right: 1rem;
}

#user-avatar {
  color: #fff;
  position: relative;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.btn {
  padding: 0.1em 2em;
  font-weight: 700;
}

.btn-green-admin {
  background-color: #a3e3d7;
}

.btn-grey {
  background-color: #f3f3f3;
}

.btn-grey-selected {
  background-color: #a3e3d7;
}

.btn-green-user {
  background-color: #c7e3a3;
}

.btn-yellow {
  background-color: #efe3b4;
}

.btn-orange {
  background-color: #f5b587;
}

/* Class for the #todo buttons */
.btn-todo {
  background-color: #6c757d;
  color: #fff;
  opacity: 0.65;
  cursor: not-allowed;

.btn-todo:disabled {
  pointer-events: none;
 }
}
