{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>Lot {{ lot.name }}</h3>
  </div>
</div>

<div class="row">
  <div class="tab-pane fade show active" id="details">
    <div class="btn-group dropdown ml-1 mt-1" uib-dropdown="">
      <a href="{% url 'lot:add_annotation' lot.pk %}" class="btn btn-primary">

        <i class="bi bi-plus"></i>
        Add new annotation
        <span class="caret"></span>
      </a>
    </div>

    <h5 class="card-title mt-2">Annotations</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
          <th scope="col" data-type="date" data-format="YYYY-MM-DD hh:mm">Created on</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
	{% for a in annotations %}
      <tr>
        <td>{{ a.key }}</td>
        <td>{{ a.value }}</td>
        <td>{{ a.created }}</td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
