{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include 'tabs.html' %}

{% load django_bootstrap5 %}
{% if donor %}
    <div class="d-flex justify-content-end mt-1">
      <a href="{% url 'lot:web_donor' lot.id donor.id %}" class="btn btn-green-admin d-flex align-items-center">
	{% trans "Donor web" %}
      </a>
    </div>
{% endif %}

<form role="form" method="post">
{% csrf_token %}
{% if form.errors %}
<div class="alert alert-danger alert-icon alert-icon-border alert-dismissible" role="alert">
  <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
  <div class="message">
    {% for field, error in form.errors.items %}
      {{ error }}<br />
    {% endfor %}
    <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endif %}
{% bootstrap_form form %}
<div class="form-actions-no-box">
  <a class="btn btn-grey" href="{% url 'dashboard:lot' lot.id %}">{% translate "Cancel" %}</a>
  <input class="btn btn-green-admin" type="submit" name="submit" value="{{ action }}" />
</div>

</form>
{% endblock %}
