{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>{{ subtitle }}</h3>
  </div>
</div>

<form method="post">
  {% csrf_token %}

{% for tag in lot_tags %}
<div class="row">
  <div class="col-lg-3 col-md-4 label ">{{ tag }}</div>
</div>

{% for lot in lots %}
{% if lot.type == tag %}
<div class="row">
  <div class="col-lg-3 col-md-4 label "><input type="checkbox" name="lots" value="{{ lot.id }}" /></div>
  <div class="col-lg-3 col-md-4 label ">{{ lot.name }}</div>
</div>
{% endif %}
{% endfor %}
{% endfor %}

  <button class="btn btn-green-admin" type="submit">Save</button>
</form>

{% endblock %}
