{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>{{ subtitle }}</h3>
  </div>
</div>

{% load django_bootstrap5 %}
<form role="form" method="post">
{% csrf_token %}
{% if form.errors %}
<div class="alert alert-danger alert-icon alert-icon-border alert-dismissible" role="alert">
  <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
  <div class="message">
    {% for field, error in form.errors.items %}
      {{ error }}<br />
    {% endfor %}
    <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endif %}
{% bootstrap_form form layout="floating" %}

<div class="d-flex justify-content-start gap-3 mt-4">
  <a class="btn btn-outline-secondary" href="{{ request.META.HTTP_REFERER }}">
    <i class="bi bi-x-circle me-2"></i>
    {% translate "Cancel" %}
  </a>
  <button type="submit" class="btn btn-green-user">
    <i class="bi bi-save me-2"></i>
    {% translate "Save" %}
  </button>
</div>
</form>
{% endblock %}
