{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include 'tabs.html' %}

{% if subscriptors %}
<div class="row mt-3">
  <div class="col">
    <table class="table table-hover table-bordered align-middel">
      <thead class="table-light">
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for s in subscriptors %}
        <tr>
          <td class="font-monospace">{{ s.user.email }}</td>
          <td class="font-monospace">{{ s.get_type_display }}</td>
          <td class="font-monospace">
            <button type="button" class="btn btn-sm btn-outline-danger d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#unsubscribeModal{{ forloop.counter }}">
              <i class="bi bi-trash me-1"></i>
              {% trans 'Unsubscribe' %}
            </button>
          </td>
        </tr>
        {% url 'lot:unsubscription' lot.id s.id as unsubscribe_url %}
        {% blocktrans with email=s.user.email type=s.get_type_display asvar modal_body_text %}Are you sure you want to unsubscribe <strong>{{ email }}</strong> as {{ type }}?{% endblocktrans %}
        {% trans "Unsubscribe User" as modal_title_text %}
        {% trans "Unsubscribe" as modal_action_text %}
        {% with id_suffix=forloop.counter|stringformat:"s" %}
          {% include 'confirm_modal.html' with modal_id="unsubscribeModal"|add:id_suffix modal_title=modal_title_text modal_body=modal_body_text action_text=modal_action_text action_url=unsubscribe_url %}
        {% endwith %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<div class="mt-4">
  <button class="btn bi-plus btn-green-admin" type="button" data-bs-toggle="collapse" data-bs-target="#subscribe">
    {% trans 'Add Subscription' %}
  </button>

    <div class="collapse mt-3 {% if form.errors %} show{% endif %}" id="subscribe">
        <div class="card card-body">
            <h5 class="card-title">
                {% trans 'Add new user subscription' %}.
            </h5>
            <p class="card-text">
                {% trans 'To create a new user subscription for this lot add user email and its subscription type' %}.
            </p>
            {% load django_bootstrap5 %}
            <form role="form" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-actions-no-box">
                    <a class="btn btn-grey" href="{% url 'dashboard:lot' lot.id %}">{% translate "Cancel" %}</a>
                    <input class="btn btn-green-admin" type="submit" name="submit" value="{{ action }}" />
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
