{% extends "login_base.html" %}
{% load i18n django_bootstrap5 %}

{% block login_content %}

      <div class="well">
        <div class="row-fluid">
          <h2>{% trans 'Two-factor Authentication' %}</h2>
         </div>
      </div>

      <div class="well">
        <div class="row-fluid">
          <div>
            <span>{% trans "We have sent you an email with a link that you have to click to log in." %}</span>
          </div>
        </div><!-- /.row-fluid -->
      </div><!--/.well-->
{% endblock %}
