{% extends "login_base.html" %}
{% load i18n %}

{% block login_content %}
<div class="well">
  <div class="row-fluid">
    <h4 class="card-title text-center text-bold">{% trans 'Password reset sent' %}</h4> 
    <p class="text-center text-muted mt-4 fs-7">{% trans "We've sent you an email with instructions to reset your password. If an account with the provided email exists, you should receive it shortly." %}</p>
    <p class="text-center mt-4 fs-7">{% trans "If you don't receive an email, please check the email address you entered and look in your spam folder." %}</p>

  </div><!-- /.row-fluid -->

  <div class="text-end mt-4 mb-0 text-sm">
    <a class="text-muted" href="{% url 'login:login' %}" >{% trans "Back to login" %}</a>
  </div>
</div><!--/.well-->
{% endblock %}
