export TEST_SITE='http://127.0.0.1:8000'

export TEST_DONOR_USER='donor@example.org'
export TEST_CIRCUIT_USER='circuit-manager@example.org'
export TEST_SHOP_USER='shop@example.org'
export TEST_BENEFICIARY_USER='beneficiary@example.org'
