{% extends "base.html" %}
{% load i18n paginacion %}
{% load render_table from django_tables2 %}

{% block content %}

  <!-- Search and new lot button -->
  <div class="d-flex justify-content-end align-items-stretch mb-4">
    <form method="get" class="input-group w-100 me-3">
      <input
        type="text"
        name="q"
        class="form-control"
        placeholder="{% trans 'Search by name or description...' %}"
        value="{{ search_query }}">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary h-100" style="border-radius: 0 4px 4px 0;">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

  </div>

  <h3>{{ subtitle }}</h3>
  {% render_table table %}
{% endblock %}
