{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>{{ subtitle }}</h3>
  </div>
  <div class="col-2">
    <a href="{% url 'admin:new_user' %}" class="btn btn-green-admin">{% translate "Add new user" %}</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
	<tr>
	  <th scope="col">Email</th>
	  <th>is Admin</th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<tr>
        {% for u in users %}
          <td>{{ u.email }}</td>
          <td>{{ u.is_admin }}</td>
          <td><a href="{% url 'admin:edit_user' u.pk %}"><i class="bi bi-eye"></i></td>
          <td><a href="{% url 'admin:delete_user' u.pk %}" class="text-danger" title="Remove"><i class="bi bi-trash"></i></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
