{% extends "base.html" %}
{% load i18n %}

{% load django_bootstrap5 %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>{{ subtitle }}</h3>
  </div>
</div>
  <div class="row mb-4">
    <div class="col">
      <div class="alert alert-warning" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        {% blocktranslate %}
          Are you sure you want to remove the lot <strong>{{ object.name }}</strong> with <strong>{{ object.devices.count }}</strong> devices?
        {% endblocktranslate %}
      </div>
    </div>
  </div>

<form role="form" method="post">
{% csrf_token %}
{% if form.errors %}
<div class="alert alert-danger alert-icon alert-icon-border alert-dismissible" role="alert">
  <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
  <div class="message">
    {% for field, error in form.errors.items %}
      {{ error }}<br />
    {% endfor %}
    <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endif %}
{% bootstrap_form form %}
<div class="form-actions-no-box">
  <a class="btn btn-grey" href="{% url 'admin:users' %}">{% translate "Cancel" %}</a>
  <button type="submit" class="btn btn-danger">
    <i class="bi bi-trash me-1"></i>
    {% translate "Delete" %}
  </button>
</div>

</form>
{% endblock %}
