{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row mb-3">
  <div class="col">
    <h3>{{ subtitle }}</h3>
  </div>
</div>

<form role="form" method="post">
  {% csrf_token %}

  {% if form.errors %}
  <div class="alert alert-danger alert-icon alert-icon-border alert-dismissible" role="alert">
    <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
    <div class="message">
      {% for field, error in form.errors.items %}
        {{ error }}<br />
      {% endfor %}
      <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endif %}

  <div class="row g-3">
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        <div class="col-12 col-md-6">
          {% bootstrap_field field layout="floating" %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="form-actions-no-box mt-4">
    <a class="btn btn-grey" href="{% url 'admin:panel' %}">{% translate "Cancel" %}</a>
    <input class="btn btn-green-admin" type="submit" name="submit" value="{% translate 'Save' %}" />
  </div>

</form>
{% endblock %}
