{% load django_tables2 %}
{% load i18n static %}
{% load paginacion %}

{% block table-wrapper %}
  <div class="table-responsive rounded-3 shadow-sm custom-hover-shadow">
    {% block table %}
    <table {% render_attrs table.attrs class="table table-hover table-bordered align-middle" %}>
      {% block table.thead %}
      <thead class="text-center">
        <tr>
          {% for column in table.columns %}
          <th {{ column.attrs.th.as_html }} scope="col"
              class="ps-3 py-2 fw-semibold fs-7 border-bottom">
            {% if column.orderable %}
              <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
                 class="text-decoration-none text-dark d-flex align-items-center justify-content-center gap-2">
                {{ column.header }}
                {% if column.is_ordered %}
                  <i class="fa fa-solid fa-sort-{% if column.order_by_alias.is_descending %}down{% else %}up{% endif %} fs-8"></i>
                {% else %}
                  <i class="fa fa-solid fa-sort fs-8 text-muted opacity-50"></i>
                {% endif %}
              </a>
            {% else %}
            {{ column.header }}
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      {% endblock table.thead %}

      {% block table.tbody %}
      <tbody class="text-center">
        {% for row in table.paginated_rows %}
        <tr {{ row.attrs.as_html }} class="bg-white border-bottom">
          {% for column, cell in row.items %}
          <td {{ column.attrs.td.as_html }} class="ps-3 py-2">
            {{ cell }}
          </td>
          {% endfor %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="{{ table.columns|length }}" class="text-center p-4 text-muted">
            {{ table.empty_text }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endblock table.tbody %}
    </table>
    {% endblock table %}

    <!-- Pagination-->
    <div class="d-flex d-flex flex-column justify-content-center text-muted align-items-center gap-2">
        <div>
        {% render_pagination table.page.number table.paginator.num_pages table.paginator.per_page %}
        </div>
        <!-- Number of devices info-->
        <div class="d-flex justify-content-center text-muted align-items-center gap-1">
            <i class="bi bi-list"></i>{% trans "Showing" %}
            {{ table.page.start_index }} to {{ table.page.end_index }} of {{ table.paginator.count }}
        </div>
    </div>
  </div>
{% endblock table-wrapper %}

<style>
.table thead {
  background-color: #f8f9fa;
  color: #495057;
}

.table tbody tr:hover {
  background-color: #f0fdf0;
}

.table thead th a:hover {
  color: #007bff;
  text-decoration: underline;
}

</style>
